/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
	--primary-action: black;
}

header nav{
	display: flex;
	justify-content: space-between;
}

header nav li img{
	width: 2em;
}

header nav li{
	display: flex;
	justify-content: space-between;}     /* vragen /*



Header




/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

